# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec
Output/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini 